- load staticfiles
!!! 5
html(ng-app="myApp", lang="en")
  head
    link(href!={% static 'semantic-ui/css/semantic.min.css' %}, rel='stylesheet', type='text/css')
    script(src!={% static 'angular.min.js' %})
    script(src!={% static 'angular.cookies.min.js' %})
    script(src!={% static 'jquery.min.js' %})
    title
      block title
        | Bucket - 
    style(type='text/css')
      body {
        font-family: Helvetica, Sans-Serif;
        margin: 0px;
        padding: 0px;
        color: #555555;
        min-width: 320px;
      }
      .container {
        width: 1100px;
        margin: 0px auto;
      }
      .main {
        padding-top: 50px;
      }
  body
    div.ui.fixed.transparent.inverted.menu
      div.container
        div.item
          | Bucket
    div.main.container
      block content

  block javascript
