extends base

block title
  = block.super
  | Collection List
block content
  a(href!={% url 'collection_create' %}) 创建
  ul
    - for collection in object_list
      li
        a(href!={% url 'collection_detail' pk=collection.pk %})= collection.name
