extends base

block title
  = block.super
  | 创建测试集
block content
  form(action='', method='POST')
    - csrf_token
    ol
      - for field, errors in form.errors.items
        - for error in errors
          li
            strong= field
            | :
            strong= error
      
    label(for='name') 名称
    input(type='text', name='name')
    textarea(name='description', placeholder='请填写描述')
    button(type='submit') 提交
